.App {
  text-align: center;
  
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.form-container{
  margin-top: 15px;

}
/* input */
.form-input{
font-size: 15px; 
padding: 5px 0;
border-radius: 2px;
border-bottom: 3px solid transparent;
width: 30%;
margin-right: 20px;
border: 1px solid #222;

}
.form-input:focus{
  outline: none;
  box-shadow: 0 10px 2px rgba(#222, .1);
  border-bottom: 3px solid #222;


}

/* button */
.form-button
{
width: 7%;
height: 30px;
border-radius: 4px;
border: none;
cursor: pointer;
color: #fff;
background-color: #222;
outline: none;
top:-1px
}
.form-button:active{
  outline: none;
}

/* table */
.table-container{
  margin: 20px;
}

 th {
  font-family: 'Rock Salt', cursive;
  letter-spacing: 2px;
  background-color: #222;
  color: #fff;
  font-weight:200;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}